* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon {
    font-size: 36px;
    margin:20px;
}
.mode-switcher{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-right {
    display:flex ;
    justify-content: space-between;
    align-items: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 3px solid black; */
}
h1{
    padding-left: 30px;
   
}

.border{
    border-bottom: 8px double black;
}
.containerSection {
    height: 150px;
    margin:10px;
    flex:1;
}

.title {
    margin: 10px;
    border-bottom: 1px solid black;
}
.paragraph{
    margin: 0 20px;
   
    font-size: 16px;
}

.containerSection div {
    border: 1px solid black;
    margin:10px 0;
}

.postedBy {
    margin: 10px;
    padding-top: 30px;
    color: gray;
}
body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}
footer{
    background-color: aqua;
    border-top: 8px double black;;
}
h6 {
    margin:20px;
    text-align:  center; 
}

footer p {
    font-size: 12px;
    margin: 10px 30px;
    font-family: cursive; 
}